@font-face {
    font-family: 'ok';
    src: url(/assets/Gilroy-Medium.e7e7c091.ttf);
}

@font-face {
    font-family: 'mazius';
    src: url(/assets/Mazius-Extraitalic.121a71a7.otf)
}

@font-face {
    font-family: 'semi-bold';
    src: url(/assets/Gilroy-SemiBold.f3ed44cd.ttf);
}

@font-face {
    font-family: 'royal';
    src: url(/assets/cardinalfruitweb-italic.woff2);
}

@font-face {
    font-family: 'mota';
    src: url(/assets/FoundersGroteskCondensed-Bold.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bona Nova SC", serif;
}

html,
body {
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
    overflow-x: hidden;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}



#main {
    width: 100%;
    position: relative;
}


/* Loading Animation CSS CODE */


#loader {
    /* display: none; */
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
}

#loader h1 {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: #fff;
    font-weight: 200;

}

#loader #top-heading {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 49%;
    transform: translate(-50%, 0);
}

#top-heading h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.reveal .parent {
    overflow: hidden;
    display: block;
}

.reveal .parent .child {
    display: inline-block;
    transform: translateY(0);
}

.parent .child span {
    display: inline-block;
}



/* Home Code Starts From Here */




section #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    /* background: red; */
    padding: 0 7vw;

}

#nav a {
    position: relative;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: black;
}


#nav a .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#nav a .line1 {
    left: 0;
}


#nav a .line2 {
    right: 0;
}

#nav a:hover .line {
    width: 0;
}


.wrapper {
    display: flex;
    align-items: baseline;
    flex-grow: inherit;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 80vh;
}


#hero-section {
    margin-top: 100px;
    width: 100%;
    position: relative;
    height: 100%;
}


#hero-section h1 {
    font-size: 8rem;
    font-family: 'semi-bold';
    color: #383838;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1.2s;
}

#hero-section #heading1 {
    margin-left: 50px;
    overflow: hidden;
}

#hero-section .heading2 {
    margin-left: 250px;
    overflow: hidden;

}

#hero-section .heading3 {
    font-family: 'mota';
    color: #14CF93;
    margin-left: 8rem;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1.2s;
}

#hero-section .heading4 {
    margin-top: -1.2em;
    margin-left: 380px;
    overflow: hidden;
    color: #383838;
    font-family: 'semi-bold';
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1.2s;
}





#hero-section #span1 {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #a2a2a2;
    top: 15%;
    left: 70%;
    overflow: hidden;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1.2s;

    z-index: -1;
}

#hero-section #span2 {
    top: 35%;
    overflow: hidden;
    z-index: -1;
    left: 80%;
    position: absolute;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #a2a2a2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1.2s;

}


/* Arrow follows cursor */

#arrow {
    width: 50px;
    height: 50px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 70%;
    left: 5%;

    /* background-color: #111; */
}




/* Arrow follows cursor animation ends here */



/* Clicking Animation */

.click_effect {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 5px solid #e91e63;
    pointer-events: none;
    margin-top: -45px;
    margin-left: -45px;
    opacity: 0;
    border-radius: 50%;
    animation-name: click_animation;
    animation-duration: 0.6s;
    animation-timing-function: linear;
}

@keyframes click_animation {
    0% {
        opacity: 1;
        transform: scale(0.1);
    }

    10% {
        opacity: 1;
        transform: scale(0.2);
    }

    20% {
        opacity: 1;
        transform: scale(0.3);
    }

    30% {
        opacity: 1;
        transform: scale(0.4);
    }

    40% {
        opacity: 0.9;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.7;
        transform: scale(0.6);
    }

    60% {
        opacity: 0.5;
        transform: scale(0.7);
    }

    70% {
        opacity: 0.3;
        transform: scale(0.8);
    }

    80% {
        opacity: 0.1;
        transform: scale(0.9);
    }

    90% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* Clicking Animation Ends Heree */

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    #hero-section h1 {
        font-size: 6rem;
        margin-left: 10px;
    }

    #hero-section .heading4 {
        font-size: 80px;
        margin-top: -1.4em;
        margin-left: 3.5em;
    }

    #hero-section .heading3 {
        margin-left: 1em;
    }

    #arrow {
        top: 60%;
        left: 5%;
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 992px) {
    #hero-section h1 {
        font-size: 5rem;
        margin-left: 10px;
    }


    #hero-section .heading3 {
        margin-left: 1em;
        margin-top: 0px;
    }

    #hero-section .heading4 {
        font-size: 70px;
        ;
        margin-left: 3.5em;
        margin-top: -1.3em;
    }

    #hero-section #span1,
    #hero-section #span2 {
        font-size: 0.7rem;
        left: 80%;
    }

    #arrow img {
        top: 60%;
        left: 5%;
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 768px) {
    #hero-section {
        margin-left: 10px;
        margin-top: 50px;
        height: auto;
    }

    #hero-section h1 {
        font-size: 50px;
        font-size: 4rem;
        margin-left: 10px;
    }

    #hero-section .heading4 {
        font-size: 50px;
        margin-top: -1.3em;
        margin-left: 4em;
    }

    #hero-section #span1 {
        font-size: 0.6rem;
        top: 100%;
        left: 20%;
    }

    #hero-section #span2 {
        font-size: 0.6rem;
        top: 100%;
        left: 60%;
    }

    #arrow img {
        top: 60%;
        left: 5%;
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 576px) {
    #hero-section h1 {
        font-size: 3rem;
        margin-left: 10px;
    }

    #hero-section .heading4 {
        font-size: 50px;
        margin-left: 3em;
        margin-top: -1.1em;
    }

    #hero-section #span1 {
        font-size: 0.5rem;
        top: 100%;
        left: 20%;
    }

    #hero-section #span2 {
        font-size: 0.5rem;
        top: 100%;
        left: 60%;
    }
}

@media (max-width: 346px) {
    #hero-section {
        margin-left: -1.5em;
    }

}

/* Media Queries Ends Heree */



/* SECTION 2 STARTS HERE */


#section2 {
    width: 100%;
    min-height: 150%;
    /* background: red; */
    opacity: 0;
}

#section2-left-text {
    font-family: "Rajdhani", sans-serif italic;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-style: normal;
    font-size: 2.1vw;
    color: #383838;
}

#imagery {
    margin-top: 20vw;
    width: 100%;
    padding: 5vw 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
}


#imagery #imglef {

    height: auto;
    width: 30%;
}

#imgrig {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    margin-left: 10vw;
    /* background-color: yellow; */
    height: auto;
}

#imgrig .imgcntnr {
    position: absolute;
    border-radius: 1.5vw;
    background-color: #a2a2a2;
    width: 30vw;
    height: 45vw;
    filter: grayscale();
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1.2s;
}

#imgrig .imgcntnr:hover {
    filter: grayscale(0);
}

#imgrig .imgcntnr:nth-child(1) {
    background: url(/assets/1.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-30%, -6%) rotate(-7deg);
}

#imgrig .imgcntnr:nth-child(2) {
    background: url(/assets/2.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-10%, 0%) rotate(-15deg);
}

#imgrig .imgcntnr:nth-child(3) {
    background: url(/assets/3.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(10%, 10%) rotate(-8deg);
}


#work {
    padding-top: 150px;
    width: 100%;
    min-height: 100vh;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#work .one-blank {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #383838;
    gap: 2vw;
    font-size: 2vw;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;

}

.d-flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#work .main-section {
    width: 100%;
    height: 100%;
    color: #383838;
    gap: 2vw;
}

.skils {
    padding-top: 100px;
    width: 80%;

    gap: 2vw;
    display: flex;
    flex-wrap: wrap;
}

.main-section h2 {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    filter: blur(15px);
    border: 2px solid black;
    gap: 2vw;
    border-radius: 10vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}


#portfolio {
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 9vw;
    /* background: rgba(255, 0, 0, 0.295); */
}

#portfolio .workrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 12vw;
}

.workrow h1 {
    font-size: 8vw;
    font: 800;
}

.arrow2 {
    width: 50px;
    height: 50px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 75%;
    left: 90%;

    /* background-color: #111; */
}


#images {
    display: flex;
    margin-top: 5vw;
    width: 100%;
    padding: 0 5vw;
    position: relative;
}


#images .cnt {
    overflow: hidden;
    border-radius: 4%;
}

.cnt1 {
    width: 50%;
    margin-top: 1%;


}

.cnt2 {
    width: 50%;
    margin-top: 6%;
    margin-left: 10%;
    /* background: red; */
}

.cnt2 video {
    border-radius: 10%;
    width: 100%;
    height: 70%;

}


.cnt1 video{
    border-radius: 10%;
    width: 100%;
}




#contact{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 150vh;
    position: relative;
    background:#F2F2F2;
    padding: 0vw 5vw;
}

#contact h1,a{
    color: #000;
    padding-top:1vw;
    font-family: 'mota';
}

#contact .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0vw 10vw;
    height: 10vh;
}
#btn2{
    margin-left: 3vw;
}
.btn button{
    border-radius: 1.3vw;
    background: transparent;
    color: #000;
    width: 15vw;
    height: 5vh;
    font-weight: 800;
    font-family: 'mazius';
    word-spacing: 3px;
    cursor: pointer;
}
#contact #headingg{
    padding-bottom: 1vw;
    font-family: 'mota';
    font-size: 8vw;
    color: #000;
}

#contact #socials{
    display: flex;
    margin-left: -15vw;
    margin-top: 5vw;
    align-items: center;
    justify-content: space-between;
}

#contact .box{
    text-align: center;
padding-left: 13vw ;
}


.arrow3 {
    width: 50px;
    height: 50px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 40%;
    left: 5%;

    /* background-color: #111; */
}

.copyrights{
margin-top: 10vw;
font-family: 'mota';
}